<div class="post-comments pa0 pa4-l mt4">
  {{ if eq site.Params.comments "disqus"  }}
    {{ template "_internal/disqus.html" . }}
  
  {{ else if eq site.Params.comments "utterances" }}
    {{ with site.Params.utterances }}
      <script src="https://utteranc.es/client.js"
              repo="{{ .repo_name }}"
              issue-term="{{ .issue_term }}"
              theme="{{ .theme }}"
              label="{{ .label }}"
              crossorigin="anonymous"
              async
              type="text/javascript">
      </script>
    {{ end }}
  {{ else if eq site.Params.comments "giscus" }}
      {{ with site.Params.giscus }}
        <script src="https://giscus.app/client.js"
            data-repo={{ .repo }}
            data-repo-id={{ .repo_id }}
            data-category={{ .category }}
            data-category-id={{ .category_id }}
            data-mapping={{ .mapping | default "pathname" }}
            data-reactions-enabled={{ .reactions_enabled | default "0" }}
            data-emit-metadata={{ .emit_metadata | default "0" }}
            data-theme={{ .theme | default "light" }}
            data-lang={{ .lang | default "en" }}
            crossorigin="anonymous"
            async>
        </script>
      {{ end }}
  {{ end }}
</div>
