{{ $date := .Date }}
{{ $single_format := "January 2, 2006" }}
{{ $range_start_format := "January 2" }}
{{ $range_end_format := "2, 2006" }}

{{ with .Params.date_end }}
  <!--if month & day are the same-->
  {{ if and (eq (time $date).Month (time .).Month) (eq (time $date).Day (time .).Day) }}
      {{ (time $date).Format $single_format }}
  <!--if month is the same-->
  {{ else if eq (time $date).Month (time .).Month }}
      {{ (time $date).Format $range_start_format }} &ndash; {{ (time .).Format $range_end_format }}
  <!--if month NOT the same-->
  {{ else }}
      {{ (time $date).Format $range_start_format }} &ndash; {{ (time .).Format $single_format }}
  {{ end }}
{{ else }}
  {{ (time $date).Format $single_format }}
{{ end }}